<br>
<br>
<div class="row">
	<div class="col-md-offset-1 col-md-4 well-forms">
		<div style="text-align:center;" >
		  <span id="coach-reg-form-headline">Start building your perfect recruiting class for free</span>
	    </div>
		<br>

		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="form-group">
		    <%= f.label :email %>
		    <%= f.email_field :email, :autofocus => true, class: "form-control" %>
		  </div>
  
		  <div class="form-group">
			  <%= f.label :last_name %>
		      <%= f.text_field :last_name, class: "form-control" %>
	      </div>

		  <div class="form-group">
			  <%= f.label :password %>
		  	  <%= f.password_field :password, class: "form-control" %>
		  </div>

		  <div class="form-group">
			  <%= f.label :password_confirmation %>
		      <%= f.password_field :password_confirmation, class: "form-control" %>
		  </div>

		  <div class="form-group">
			  <%= f.button "Start finding my next recruits", {class: "btn btn-success btn-lg btn-block", id: "create-coach-account"} %>
		  </div>
		<% end %>
		<small>
			<%= render "coaches/shared/links" %>
			<small>By signing up, you agree to the <%= link_to "terms", terms_path %> and have read our <%= link_to "privacy policy", terms_path %>.</small>
		</small>	
		
	</div>
	<div class="col-md-6" style="text-align:center;">
		
		<span id="coach-reg-headline">Find your next leading goal scorer, All-American, and hidden gem today without ever leaving your desk.</span><br>
		<img class="signup-coach-logo" src="https://s3-us-west-2.amazonaws.com/fiftyfourfooty/iron-canary.png">
	</div>
</div>
<br>
<br>
<div class="row">
	<div class="col-md-4 col-md-offset-4" style="text-align:center;">
		<h4><small>54footy created in Northern California</small></h4>
	</div>
</div>
