<br><br>
<ul class="nav nav-tabs">
	<li class="active"><a href="#video_listing" data-toggle="tab">All my favorites</a></li>
	<li><a href="#schedule_listing" data-toggle="tab">All favorites upcoming games</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="video_listing">
		<div class="row">
			<br>
			<% if @profiles.size > 0 %>
				<%= render 'coach_fav' %>
			<% else %>	
				<%= render 'seed_coach_fav' %>
			<% end %>
		</div>

	</div>
	<div class="tab-pane" id="schedule_listing">
		<br />
		<%= link_to "Download this entire schedule", download_schedule_path(format: :csv) %><br><br>
		Today is <%= (Date.today).strftime("%m/%d/%Y") %>
		<br />
		<br />
	 	<table class="table table-hover">
	 		<th>Date</th>
	 		<th>Game Time</th>
			<th>Team</th>
			<th>Player</th>
	 		<th>Location</th>
	 		<th>Opponent</th>

		<% @favorite_games.each do |game| %>
		  <tr>
			  <td> <%= (game.scheduled_date).strftime("%m/%d/%Y") %></td>
			  <td> <%= game.scheduled_time %></td>
		  	  <td> <%= game.club_player.club_team %></td>
			  <td> <%= game.club_player.full_name %></td>			 			
		 	  <td> <%= game.location %></td>
		  	  <td> <%= game.opponent %></td>

		 </tr>		 
		<% end %>
		</table>
	</div>
</div>
