<%= link_to "Add a New Highlight Video", new_listing_path, class: "btn btn-success" %>
<%= link_to "Add a New Game", '#dialog', 'data-toggle' => "modal", 'data-target' => "#dialog", class: "btn btn-success" %>
<h1 class="page-header">Dashboard</h1> 
<h5>What your profile looks like to coaches: <%= link_to "Public Profile", profile_path(current_club_player.profile_name), id: "video-link" %></h5>
<br><br>
<ul class="nav nav-tabs">
	<li class="active"><a href="#video_listing" data-toggle="tab">My Videos</a></li>
	<li><a href="#schedule_listing" data-toggle="tab">My Upcoming Game</a></li>
	<li><a href="#profile_tracker" data-toggle="tab">My Profile Stats</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="video_listing">
		<% if @listings.size > 0 %>
		 <br><%= render 'video' %>
		<% else %>
		     <%= render 'seed_video' %>
		<% end %>
	</div>
	<div class="tab-pane" id="schedule_listing">
		<% if @games.size > 0 %>
		<br><%= render 'game' %> 
		<% else %>
			 <%= render 'seed_game' %>
		<% end %>
	</div>
	<div class="tab-pane" id="profile_tracker">
		<% if current_club_player.subscribed? && current_club_player.link.nil? %>
		 <%= link_to "Generate my unique link", generate_short_link_path, method: :post, class: "btn btn-link " %>
		 <br> 
		<% elsif current_club_player.subscribed? && !current_club_player.link.nil? %>
			<br>
			Your tracking link is: <%= current_club_player.link.display_slug %><br>
			Your link counts are: <%= current_club_player.link.clicks %><br>
			<a data-toggle="collapse" href="#statDetails">Show stat details</a><small> <i>beta</i> <i id="broswer-explainer" data-toggle="tooltip" data-placement="right" class="fa fa-question-circle"></i></small>			
			<div id="statDetails" class="collapse">
				<ul>
					<% @stats.each do |stat| %>
					<li>+1 from 
						<a href="http://whatismyipaddress.com/ip/<%= stat.clicker %>" target="_blank">
							<%= stat.clicker %>
						</a> <%= (stat.created_at).getlocal.strftime("%b %-d, %I:%M %P")%> localtime
				    </li>
					<% end %>
				</ul>
			</div>		 
		<% else %>
		    <br>
			<button data-toggle="modal" data-target="#linkTrackerModal" class="btn btn-link"><i class="fa fa-bolt"></i> Generate link </button>
			<p>Your unique link:</p>
		<% end %>
	</div>
</div>

<div class='new_game'>
  <%= display_dialog('/games/form', 'New Game', 'dialog', 'medium') %>
</div>
</div>

<%= render 'upgrade_link_tracker_modal' %>
<script>
$("#broswer-explainer").tooltip(
		{
			title: "Careful when reading these stats. Because of the way " +
				   "some browsers work some clicks maybe counted twice. Additionally," +
					"ip lookup information is always as close as possible but cant account" +
					"for various routing systems. These stats will help you paint a picture."
		}
);
</script>