<br>
<table class="table table-hover">
	<th>Date</th>
	<th>Game Time</th>
	<th>Location</th>
	<th>Opponent</th>
<%= link_to '<i class="fa fa-download"></i> Download my schedule'.html_safe, profile_path(format: 'csv'), id: "video-link"%>
<br>
<br>
<% @games.each do |game| %>
		<tr>
			<td><%= game.scheduled_date %></td>
			<td><%= game.scheduled_time %></td>
			<td> <%= game.location %></td>
			<td> <%= game.opponent %></td>
		</tr>
<% end %>	
</table>