<div class="row">
	<% @profiles.each do |profile|%>
		<% if profile.listings.count >= 1 %>
		<div class="col-md-4 well-listing">
			<div class="row" style="text-align:left background-color: blue;">
				<div id="videoCarousel-<%= profile.profile_name %>" data-interval="false" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner">
						<% profile.listings.each do |video| %>						
							<div class="item <%= 'active' if profile.listings.index(video) == 0 %>">
								<%= youtube_thumb_embed(video.video).html_safe %>
								<p class="video-description"><%= truncate(video.description, length: 50) %></p>
						    </div>
						<% end %>
												    												
				  </div>
				  <div class="row" style="margin-left:0px;">
					  <% if profile.listings.count > 1 %>
						  <small>
							   <a href="#videoCarousel-<%= profile.profile_name %>" data-slide="prev">Prev</a> |
							   <a href="#videoCarousel-<%= profile.profile_name %>" data-slide="next">Next</a>
					      </small>
					  <% else %>
					   <span style="color:gray;"><small><em>just one video</em></small></span>
					  <% end %>
				  </div>			
				</div>		
			</div>
			<div class="row">
				<div class="col-md-5">
					<%= profile.club_team %>
					<%= profile.position %> in a <%= profile.formation %>
				</div>
				<div class="col-md-5">
					<div class="pull-right">
					 <%= profile.full_name %><br>
					 Graduating in <%= profile.grad_year%>
				 	</div>
				</div>	
				<div class="col-md-5 col-md-offset-2">
					<% if user_signed_in? && current_user == current_coach%>
					 	<%= link_to "Add as favorite", new_friendship_path(friend_id: profile.profile_name) if current_user == current_coach %>
					<% else %>
					<button class="col-md-offset-2 btn btn-warning btn-xs alertify-sign-up">Add to watchlist</button>
					<% end %>
				</div>	
			</div>	
		</div>
		<% end %>
	<% end %>
</div>

<script>
$(".alertify-sign-up").click(function() {
	alertify.log("Success notification");
});
</script>
