<div class="modal fade signup-modal-sm" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
	  <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	          <h4 class="modal-title" id="myModalLabel">Start assembling your prospective recruiting class now</h4>
	   </div>
       <div class="modal-body">
         Wait! You must be signed up as a coach to save players you want to keep an eye on. 
		 <%= link_to "Coach Signup", new_coach_registration_path, class: "btn btn-xs btn-success" %>
       </div>
       <div class="modal-footer">
         <small>Already a member? <%= link_to "Login", new_coach_session_path %> </small>
       </div>
    </div>
  </div>
</div>
<%= search_form_for @search do |f| %>
	<div class="field">
		<%= f.label :position_cont, 'Search by Position' %>
		<%= f.text_field :position_cont, class: 'search-field' %>
	</div>
    <div class="actions"><%= f.submit "Search", class: 'btn btn-xs btn-info' %></div>
	<div class="actions"><%= f.submit "Reset", id: 'q_clear', class: 'btn btn-xs btn-danger' %></div>
<% end %>
<br>
<div class="row">
	<% @profiles.each do |profile|%>
		<% if profile.listings.count >= 1 %>
		<div class="col-md-4 col-sm-6 col-xs-8 well-listing">
			<div class="row" style="text-align:left;">
				<div id="videoCarousel-<%= profile.profile_name %>" data-interval="false" class="carousel slide" data-ride="carousel">
				  <div class="carousel-inner">
						<% profile.listings.each do |video| %>						
							<div class="item <%= 'active' if profile.listings.index(video) == 0 %>">
								<%= link_to youtube_thumb_embed(video.video).html_safe,profile_path(profile.profile_name) %>
								<p class="video-description"><%= truncate(video.description, length: 50) %></p>
						    </div>
						<% end %>
												    												
				  </div>
				  <div class="row" style="margin-left:0px;">
					  <% if profile.listings.count > 1 %>
						  <small>
							   <a href="#videoCarousel-<%= profile.profile_name %>" data-slide="prev">Prev</a> |
							   <a href="#videoCarousel-<%= profile.profile_name %>" data-slide="next">Next</a>
					      </small>
					  <% else %>
					   <span style="color:gray;"><small><em>just one video</em></small></span>
					  <% end %>
				  </div>			
				</div>		
			</div>
			<div class="row">
				<div class="col-md-5">
					<%= profile.club_team %>
					<%= profile.position %> in a <%= profile.formation %>
				</div>
				<div class="col-md-5">
					<div class="pull-right">
					 <%= profile.full_name %><br>
					 <%= profile.grad_year%> Grad
				 	</div>
				</div>	
				<div class="col-md-5 col-md-offset-2">
					<% if coach_signed_in? && current_coach %>
					  <%= link_to "Add as favorite", new_friendship_path(friend_id: profile.profile_name), class: "btn btn-xs btn-warning col-md-offset-2" %>
					<% else %>
					  <button data-toggle="modal" data-target=".signup-modal-sm" class="col-md-offset-2 btn btn-warning btn-xs">Add to watchlist</button>
					<% end %>
				</div>	
			</div>	
		</div>
		<% end %>
	<% end %>
</div>

