<h2 class="page-header"><%= @player.full_name %></h2>
<div class="row">
	<div class="col-md-2" id="left-player-col">
   	 <ul style="list-style:none;">
   		<li><%= @player.position %> for <%= @player.club_team %></li>
   		<li><%= @player.grad_year %> graduate</li>
   	    <li><%= @player.formation %></li>
   		<br>
		<% if current_college_coach %>
			<% unless current_college_coach.friend_already?(@player) %>
			  <li class="add_favorite_link"><%= link_to "add favorite", "#confirm-dialog", id: "profile-link",class: "btn btn-info modal-toggle", "data-toggle" => "modal", "data-modal-type" => "confirm", "data-player" => @player.full_name, "data-url" => user_friendships_path(friend_id: @player.id, format: :js) %></li>
			<% else %>
			  <li><%= link_to "Remove from watchlist", user_friendship_path(current_college_coach.friendship(@player)), method: :delete, data: { confirm: "Are you certain you want remove #{@player.full_name} from watchlist?" } %></li>
			<% end %>
		<% else %>	
			<a id="favorite-link" data-toggle="modal" data-target=".signup-modal-sm" class="btn btn-info">add favorite</a>
		<% end %>
   		      
   	 </ul>
	</div>
	<div class="col-md-10">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#video_listing" data-toggle="tab">My Videos</a></li>
			<li><a href="#schedule_listing" data-toggle="tab">My Upcoming Game</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="video_listing">
				<div class="row">
				  <%= render 'video' %>
			    </div>
			</div>	
			<div class="tab-pane" id="schedule_listing">
				<%= render 'schedule' %> 
			</div>
		</div>
    </div>
</div>

<%= render 'profiles/profile_layouts/confirm_modal' %>
<%= render "profiles/profile_layouts/signup_modal" %>
