<% @profiles.each do |profile| %>
  <% if profile.listings.count >= 1 %> 
   <div class='col-md-3 col-sm-5 col-xs-5 card-wrapper' id='<%= "player_#{profile.id}" %>'>
     <div class="row">
		 <div id="carousel<%= profile.profile_name %>" data-interval="false" class="carousel slide" data-ride="carousel">
		   <div class="carousel-inner" >
			   <% profile.listings.each do |video| %>
			     <div class="item <%= 'active' if profile.listings.index(video) == 0 %> center-it">
			       <%= link_to image_tag("http://i1.ytimg.com/vi/#{youtube_thumb_embed(video.video)}/mqdefault.jpg"), profile_path(profile.profile_name) %>
				    <p class="video-description"><%= truncate(video.description, length: 40) %></p>
			     </div>
			   <% end %>
		   </div>
		 </div>
     </div>   
	 <div class="row">
		  <% if profile.listings.count > 1 %>
			  <small style="padding-left:5px;">
				   <a href="#carousel<%= profile.profile_name %>" data-slide="prev">Prev video</a> |
				   <a href="#carousel<%= profile.profile_name %>" data-slide="next">Next video</a>
		      </small>
		  <% else %>
		   <span class="explainer-text">just one video..</span>
		  <% end %>  
		 <ul>
			<li><%= profile.position %> for <%= profile.club_team %></li>
			<li><%= profile.grad_year %> graduate</li>
		    <li><%= profile.formation %></li>
		    <li><%= profile.full_name %></li>
		    
		 </ul>
		 <div class="center-it favorite-button">
		  <% if current_college_coach %>
		  <hr>
		  <a id="profile-link" href="<%= profile_path(profile.profile_name)%>">view profile <i id="profile" class="fa fa-user"></i></a>
		    <%= link_to "add favorite".html_safe + " " + content_tag(:i,nil, id: "heart", :class=>"fa fa-heart-o"), "#confirm-dialog", id: "profile-link",class: "btn btn-link modal-toggle", "data-toggle" => "modal", "data-modal-type" => "confirm", "data-player" => profile.full_name, "data-url" => user_friendships_path(friend_id: profile.id, format: :js) %>

		  <% else %>
		  <hr>
		   <a id="profile-link" href="<%= profile_path(profile.profile_name)%>">view profile <i id="profile" class="fa fa-user"></i></a>
		<a id="favorite-link" data-toggle="modal" data-target=".signup-modal-sm" class="btn btn-link">add favorite <i id="heart" class="fa fa-heart-o"></i>
</a>
		  <% end %> 
	     </div>
     </div>
   </div>
 
  <% end %>	
<% end %>

<div id="confirm-dialog" class="modal">
	 <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">
           <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
           <h3>Add player to your Watch List?</h3>
        </div>
        <div class="modal-body">
           <p> Are you sure? You want to add <span class='player_name'></span>  to your Watch List?"   </p>
        </div>
        <div class="modal-footer">
           <%= link_to 'Yeah Do it!', '#', "data-url" => '', class: "btn btn-success btn-sm confirm" %>
         
           <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary btn-danger btn-sm">Oops Nevermind</a>
        </div>
      </div>
   </div>
</div>
        
