<% @profiles.each do |profile| %>
  <% if profile.listings.count >= 1 && !profile.disabled? %> 
   <div class='col-md-3 col-sm-5 col-xs-5 card-wrapper' id='<%= "player_#{profile.id}" %>'>
     <div class="row">
		 <div id="carousel<%= profile.profile_name %>" data-interval="false" class="carousel slide" data-ride="carousel">
		   <div class="carousel-inner" >
			   <% profile.listings.each do |video| %>
			     <div class="item <%= 'active' if profile.listings.index(video) == 0 %> center-it">
			       <%= link_to image_tag("https://i1.ytimg.com/vi/#{youtube_thumb_embed(video.video)}/mqdefault.jpg"), profile_path(profile.profile_name) %>
				    <p class="video-description"><%= truncate(video.description, length: 40) %></p>
			     </div>
			   <% end %>
		   </div>
		 </div>
     </div>   
	 <div class="row">
		  <% if profile.listings.count > 1 %>
			  <small style="padding-left:5px;">
				   <a href="#carousel<%= profile.profile_name %>" data-slide="prev">Prev video</a> |
				   <a href="#carousel<%= profile.profile_name %>" data-slide="next">Next video</a>
		      </small>
		  <% else %>
		   <span class="explainer-text">just one video..</span>
		  <% end %>  
		 <ul>
			<li><%= truncate(profile.position + " for " + profile.club_team, length: 30) %> </li>
			<li><%= profile.grad_year %> graduate</li>
		    <li><%= profile.formation %></li>
		    <li><%= profile.full_name %></li>
		    
		 </ul>
		 <div class="center-it favorite-button">
		  <% if current_college_coach %>
		  <hr>
		  <a id="profile-link" href="<%= profile_path(profile.profile_name)%>">watch games <i id="profile" class="fa fa-user"></i></a>
		    <%= link_to "add favorite".html_safe + " " + content_tag(:i, nil, id: "heart", :class=>"fa fa-heart-o"), "#confirm-dialog", id: "profile-link",class: "btn btn-link modal-toggle", "data-toggle" => "modal", "data-modal-type" => "confirm", "data-player" => profile.full_name, "data-url" => user_friendships_path(friend_id: profile.id, format: :js) %>

		  <% else %>
		    <hr>
		    <a id="profile-link" href="<%= profile_path(profile.profile_name)%>">view profile <i id="profile" class="fa fa-user"></i></a>
		    <% unless current_club_player %>
		       <a id="favorite-link" data-toggle="modal" data-target=".signup-modal-sm" class="btn btn-link">add favorite <i id="heart" class="fa fa-heart-o"></i> </a>  
        <% end %>
		  <% end %> 
	     </div>
     </div>
   </div>
 
  <% end %>	
<% end %>

<%= render 'profiles/profile_layouts/confirm_modal' %>
        
