<%= simple_form_for(@game, remote: true) do |f| %>
 
  <%= f.input :scheduled_date, wrapper: :group_medium %>
  <%= f.input :opponent, wrapper: :group_medium %>
  <%= f.input :location, wrapper: :group_medium %>
  <%= f.input :scheduled_time, wrapper: :group_medium %>
  <hr> 
  <center>
    <%= f.submit 'Save', class: 'btn btn-success' %>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
  </center>
<% end %>
