<br>
<br>
<div class="row">
	<div class="col-md-4 col-md-offset-4 well-forms">
		<h4><i class="fa fa-university"></i> Sign in as a coach</h4>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div class="form-group">
			  <%= f.label :email %>
		      <%= f.email_field :email, :autofocus => true, class: "form-control" %>
		  </div>

		  <div class="form-group">
			  <%= f.label :password %>
		  	  <%= f.password_field :password, class: "form-control" %>
		  </div>

		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>

		  <div>
			  <%= f.button "Sign in",class: "btn btn-success btn-lg btn-block"  %>
		  </div>
		<% end %>

		<small><%= render "coaches/shared/links" %></small>
		
		
	</div>
</div>

