<br>
<br>
<div class="row">
	<div class="col-md-4 col-md-offset-4 well-forms">
		<h4><i class="fa fa-university"></i> Sign in as a coach</h4>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div class="form-group">
			  <%= f.label :email %>
		      <%= f.email_field :email, :autofocus => true, class: "form-control" %>
		  </div>

		  <div class="form-group">
			  <%= f.label :password %>
		  	  <%= f.password_field :password, class: "form-control" %>
		  </div>

		  <% if devise_mapping.rememberable? -%>
		    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>

		  <div>
			  <%= f.button "Sign in",class: "btn btn-success btn-lg btn-block"  %>
		  </div>
		<% end %>

		<small><%= render "coaches/shared/links" %></small>		
	</div>
</div>
<div class="row">
	<div class="col-md-2 col-md-offset-5">
		<%=link_to "Signup to start recruiting <i class='fa fa-long-arrow-right'></i>".html_safe, new_college_coach_registration_path, class: "btn btn-link" %>
	</div>	
</div>
<div class="row">
	<div class="col-md-2 col-md-offset-5" style="text-align:center;">
		<img class="splash-logo" src="https://s3-us-west-2.amazonaws.com/fiftyfourfooty/iron-canary-small.png">
	</div>
</div>
