<h2 class="page-header"></h2>
<div class="row">
	<div class="col-md-3" id="left-player-col">
		Your current profile info
		
		<ul>
			<li><strong>Email:</strong> <%= current_user.email%></li>
			<li><strong>Name:</strong> <%= current_user.full_name %></li>
			<li><strong>Formation:</strong> <%= current_user.formation %></li>
			<li><strong>Position:</strong> <%= current_user.position %></li>
			<li><strong>Current Club:</strong> <%= current_user.club_team %></li>
			<li><strong>Profile Name:</strong> <%= current_user.profile_name %></li>
			<li><strong>Grad Year:</strong> <%= current_user.grad_year %></li>

			
		</ul>
	</div>
	<div class="col-md-8">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#learn_how" data-toggle="tab"> Learn </li></a>
			<li><a href="#change_contact" data-toggle="tab"> Change Password/Email </li></a>
			<li><a href="#schedule_listing" data-toggle="tab">Subscription </li></a>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="learn_how">
				<div class="row">
					<div class="col-md-12">
						<br>
						 Checkout these help vids for getting started.<br>
						<h2>How do I..</h2>
						
						<h4><a data-toggle="collapse" href="#collapseHelpAddVid">Add a video</a></h4>
						 <div id="collapseHelpAddVid" class="collapse">						   
							 <iframe class="well" src="//fast.wistia.net/embed/iframe/3e68l8x5b8" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>
					 		<ol> (click on video to pause and play)
								<li>Click "Add my first video" in your my videos tab on your dashboard.</li>
								<li>You'll see 2 fields: 1 for a youtube link and 1 for a description.</li>
								<li>Now, make sure you already have uploaded your highlight video to youtube.</li>
					 			<li>Pull up that video on your youtube account.</li>
								<li>Copy and paste the youtube url link of the video you want to add to 54footy.</li>
					 			<li>Paste in the videos youtube video url into the first field labeled 'Video'.
									<ul>
										<li>Make sure it has https in the url.</li>
										<li>It must be a video uploaded to youtube. No other video hosting is supported.</li>
									</ul>
								</li>
								<li>Fill out the description on what the coach will be watching in this clip. Make sure to include
									 which player you are!</li>
								<li>Click "Add Video" and your video now be viewable by coaches and you'll now be discoverable by coaches on the main search page. </li>
								
					 		</ol>
						 </div>
						 <h4><a data-toggle="collapse" href="#collapseHelpAddGame">Add a game</a></h4>
						 <div id="collapseHelpAddGame" class="collapse">						   
							 <iframe class="well" src="//fast.wistia.net/embed/iframe/dsls9jeh4x" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>
					 		<ol> (click on video to pause and play)
								<li>Click "Add my first game" in your 'My Upcoming Games' tab on your dashboard.</li>
								<li>You'll see 4 fields you need to fill out to add a new game.
									<ul>
										<li>Scheduled Date: The date of your game.</li>
										<li>Opponent: Who you are playing that game.</li>
										<li>Locaiton: Add the field number, soccer complex, and tournament name here. </li>
										<li>Scheduled Time: Make this time local to where the game is being held in this format e.g. 1:00PM. </li>
									</ul>
								
								</li>
								<li>Click 'Add this game' and you'll now see it under your 'My Upcoming Games' tab in your dashboard.  </li>
								
					 		</ol>
						 </div>
						 <h4><a data-toggle="collapse" href="#collapseHelpUpgrade">Upgrade. And what that means. </a></h4>
						 <div id="collapseHelpUpgrade" class="collapse">						   
							 <iframe class="well" src="//fast.wistia.net/embed/iframe/cu3mkm4ww2" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>
					 		<ol> (click on video to pause and play)
								<li>Click "Upgrade" in the top black bar.</li>
								<li>You'll be taken a page that explains what you're getting by upgrading.</li>
								<li>Click 'Upgrade My Account' to be taken to the checkout page</li>
								<li>Here you'll get a final review of what you get by upgrading.</li>
								<li>Click 'Start my 54footy subscription'.</li>
								<li>Enter in your payment information on the secure checkout form.</li>
								<li>You'll be taken to a confirmation page, sent an email receipt, and now have full access to 54footy features. </li>
								
					 		</ol>
						 </div>
						 <h4><a data-toggle="collapse" href="#collapseHelpCreateLink">Create a tracking link for my profile.</a></h4>
						 <div id="collapseHelpCreateLink" class="collapse">						   
							 <iframe class="well" src="//fast.wistia.net/embed/iframe/1313qtqgtk" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>
					 		<ol> (click on video to pause and play)
								<li>Make sure you have upgraded your account.</li>
								<li>Once upgraded, you'll see a link under your 'My Profile Stats' tab.</li>
								<li>Click the 'Generate My Unique Link' to get a personalized link for click tracking.</li>
								<li>Now, under the 'My Profile Stats' tab you'll have a link you can send to track clicks to your profile.</li>
								<li>Anytime anyone clicks on this link your link count will increase.</li>
					 		</ol>
						 </div>
						 <h4><a data-toggle="collapse" href="#collapseHelpUseLink">Use my tracking link.</a></h4>
						 <div id="collapseHelpUseLink" class="collapse">						   
							 <iframe class="well" src="//fast.wistia.net/embed/iframe/4xjbj5uwvx" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="800" height="450"></iframe>
					 		<ol> (click on video to pause and play)
								<li>Once your unique link has been created it's a great way to tell if someone has viewed your profile.</li>
								<li>For example, when emailing your favorite schools you'll now know if the coach clicked your link to view your profile.</li>
								<li>Only send out this link when you want to know if it was clicked. Other times just use 54footy.com/"your-profile-name"</li>
								<li>Now, check back under your 'My Profile Stats' tab to see if your link was clicked!</li>
					 		</ol>
						 </div>
						 <h4><a data-toggle="collapse" href="#collapseHelpUseYoutube">Create a youtube account.</a></h4>
						 <div id="collapseHelpUseYoutube" class="collapse">						   
					 		<ol>
								<li>You must upload your highlight videos to a youtube account before adding them to 54footy.</li>
								<li>Create a youtube account for FREE here - <a href ="https://support.google.com/accounts/answer/27441" target="_blank">create youtube account</a>.</li>
								<li>After creating a youtube account you'll be able upload highlight videos to it and add them to your 54footy profile. </li>
					 		</ol>
						 </div>
				    </div>
			    </div>
			</div>
			<div class="tab-pane" id="change_contact">
				<div class="row">
					<div class="col-md-4">
						<%= render 'change_info'%>
				    </div>
			    </div>
			</div>	
			<div class="tab-pane" id="schedule_listing">
				<div class="row">
					<div class="col-md-5">

						<% if current_club_player.subscribed? %>
							<p>You have already paid for your yearly 
								subscription and your next pmt is on<br><strong> <%= (current_club_player.subscription.created_at + 1.year).strftime("%A %B %e, %Y")%> </strong></p>
								<%= link_to "cancel subscription", cancel_subscription_path, method: :patch, confirm: "Cancel subsciption? You will no longer be able to add hihglight videos or track profile views." %>
							
						<% else %>
					 		<p>Wanting to add more highlight videos and track profile views?</p>
							 <%= link_to "Upgrade", upgrade_path, class: "btn btn-lg btn-success btn-block" %>
						<% end %>
					</div>					
			    </div>
			</div>
		</div>
    </div>
</div>


