<h2 class="page-header"></h2>
<div class="row">
	<div class="col-md-3" id="left-player-col">
		Your current profile info
		
		<ul>
			<li><strong>Email:</strong> <%= current_user.email%></li>
			<li><strong>Name:</strong> <%= current_user.full_name %></li>
			<li><strong>Formation:</strong> <%= current_user.formation %></li>
			<li><strong>Position:</strong> <%= current_user.position %></li>
			<li><strong>Current Club:</strong> <%= current_user.club_team %></li>
			<li><strong>Profile Name:</strong> <%= current_user.profile_name %></li>
			<li><strong>Grad Year:</strong> <%= current_user.grad_year %></li>

			
		</ul>
	</div>
	<div class="col-md-8">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#learn_how" data-toggle="tab"> Learn </li></a>
			<li><a href="#change_contact" data-toggle="tab"> Change Password/Email </li></a>
			<li><a href="#schedule_listing" data-toggle="tab">Subscription </li></a>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="learn_how">
				<div class="row">
					<div class="col-md-4">
						<br>
						Having some trouble getting going? Checkout these help vids
				    </div>
			    </div>
			</div>
			<div class="tab-pane" id="change_contact">
				<div class="row">
					<div class="col-md-4">
						<%= render 'change_info'%>
				    </div>
			    </div>
			</div>	
			<div class="tab-pane" id="schedule_listing">
				<div class="row">
					<div class="col-md-5">

						<% if current_club_player.subscribed? %>
							<p>You have already paid for your yearly 
								subscription and your next pmt is on<br><strong> <%= (current_club_player.subscription.created_at + 1.year).strftime("%A %B %e, %Y")%> </strong></p>
								<%= link_to "cancel subscription", cancel_subscription_path, method: :patch, confirm: "Cancel subsciption? You will no longer be able to add hihglight videos or track profile views." %>
							
						<% else %>
					 		<p>Wanting to add more highlight videos and track profile views?</p>
							 <%= link_to "Upgrade", upgrade_path, class: "btn btn-lg btn-success btn-block" %>
						<% end %>
					</div>					
			    </div>
			</div>
		</div>
    </div>
</div>


