<!DOCTYPE html>
<html>
<head>
  <title>Breakaway</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'fffooty.ico' %>
  <%= favicon_link_tag 'fffooty.ico', rel: 'apple-touch-icon', type: 'image/png'%>
  
  <%= csrf_meta_tags %>
 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">  
 
</head>
<body>
	<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
	  <div class="container">
	    <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
		  <%= link_to "54footy", root_path, class: "navbar-brand" %>	

	    </div>
	    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	      <ul class="nav navbar-nav">
		  <% if user_signed_in?  %>
	        <li>
				<%= link_to "Dashboard", dashboard_path %>
	        </li>
	        <li>
				
	        </li>
	        <li>
				<%= link_to "All Players", club_players_path %>
	        </li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Upgrade", upgrade_path, id: "upgrade-account" if current_club_player %></li>			  
	  	        <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.last_name %> <i class="fa fa-caret-down"></i></a>
					<ul class="dropdown-menu" role="menu">
						<li><%= link_to "Account", return_edit_account_path(current_user) %></li>
						<li><%= link_to "Sign out coach", destroy_college_coach_session_path, method: :delete if current_college_coach %></li>
						<li><%= link_to "Sign out player", destroy_club_player_session_path, method: :delete if current_club_player %></li>
						
					</ul>
					
										
	  	        </li>
				
		 	  <% else %>
		        <li>
					<%= link_to 'Player', new_club_player_session_path %>
		        </li>
		        <li>
		          <%= link_to 'Coach', new_college_coach_session_path %>
		        </li>
		        <li>
					<%= link_to "All Players", club_players_path %>
		        </li>
			<% end %>

	      </ul>
	    </nav>
	  </div>
	</header>
	
	<div class="container" style="margin-top:60px;">	
	  <div class='alerts'>
	  	<% if notice %>
		  	<div class="alert alert-success">
			  	<button class="close" data-dismiss="alert">x</button>
			  	<p><%= notice %></p>
		  	</div>
	  	<% end %>
		  <% if alert %>
		  	<div class="alert alert-danger">
			  	<button class="close" data-dismiss="alert">x</button>
				  <p><%= alert.html_safe %></p>
			  </div>
		  <% end %>
		</div>
		<%= yield %>
    </div>

	<footer class="footer container">
	  <small>
	    <a href="http://54footy.com/blog">breakaway</a>
	    by 54footy
	  </small>
	  <nav>
	    <ul>
	      <li><%= link_to "About", about_path%></li>
	      <li><a href="mailto:tony@54footy.com">Support</a></li>
	      <li><a href="http://www.54footy.com/blog">Blog</a></li>
	    </ul>
	  </nav>
	</footer>
<script>
	(function(){
	var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
	})("woopra");

	woopra.config({
	    domain: '54footy.com',
	    idle_timeout: 1800000
	});
	
	'<% if user_signed_in? %>'
	
		woopra.identify({
		   name: '<%= current_user.full_name %>',
		   email: '<%= current_user.email %>', 
		   type: '<%= current_user.class.name %>'
		});
	
	'<% end %>'
		
	woopra.track();
</script>

</body>
</html>
